%html
  .aboutHeader
    .content
      .video
        %iframe{frameborder: "0",src: "//player.vimeo.com/video/33091687", webkitallowfullscreen: "", width: "500"}
      .text
        %img#about{src: '/assets/ideas.png'}
        %h2 O mundo precisa de ideias novas, e nós facilitamos este trabalho:
        %h3 O que fazemos?
        %ul
          %li Nós somos uma comunidade para divulgar ideas, com o intuito de incubar e expandir pequenas ideias.
          %li Também divulgamos ideas para melhorar o mundo com coisas simples.
        %ul
        %h2 Isso tudo depende de você. Cadastre-se e venha pensar!
      .attentionStart
        =link_to "Comece Aqui", new_user_path, class: 'link'

      .theoriesIndex
        .lastTheories
          %center
            %h2 Ultimas Ideias
          -@lasts.each do |last|
            .boxes
              .imageIdea
                %img.logo{src: "#{last.image.to_s}"}
              .dataIdea
                = "Não encontrei nenhuma !dea." if !last
                = link_to "#{last.title}" , "theories/#{last.id}", class: "titleLinkIndex" if last
                %br
                = "O que é?" if last
                %br
                = last.brief if last
                %br
                = "Views:" if last
                =last.view if last
                %br
                = "Por:" if last
                =link_to "#{last.user.name}", "/users/#{last.user.id}", class: "nameLinkIndex" if last
            %br
  
    / %h1
    /   .notice{align: "center"}
    /     %p#notice= notice


    / .mostViews
    /   %center
    /     %h2 Ideias Mais Vistas
    /   -@theories.each do |theory|
    /     .boxes
    /       .imageIdea
    /         %img.logo{src: "#{theory.image.to_s}"}
    /       .dataIdea
    /         = "Não encontrei nenhuma !dea." if !theory
    /         = link_to "#{theory.title}" , "theories/#{theory.id}", class: "titleLinkIndex" if theory
    /         %br
    /         O que é?
    /         %br
    /         = theory.brief if theory
    /         %br
    /         Views:
    /         =theory.view if theory
    /         %br
    /         Por:
    /         =link_to "#{theory.user.name}", "/users/#{theory.user.id}", class: "nameLinkIndex" if theory
    /     %br

