%html
  %h1
    .notice{align: "center"}
      %p#notice= notice
  .aboutHeader
    .content
      .video
        %iframe{frameborder: "0",src: "//player.vimeo.com/video/33091687", webkitallowfullscreen: "", width: "500"}
      .text
        %img#about{src: '/assets/ideas.png'}
        %h2 O mundo precisa de ideias novas, e nós facilitamos este trabalho:
        %h3 O que fazemos?
        %ul
          %li Nós somos uma comunidade para divulgar ideas, com o intuito de incubar e expandir pequenas ideias.
          %li Também divulgamos ideas para melhorar o mundo com coisas simples.
        %ul
        %h2 Isso tudo depende de você. Cadastre-se e venha pensar!
      .attentionStart
        -if session[:id]
          =link_to "Compartilhe ideias!", new_theory_path, class: 'link'
        -else
          =link_to "Comece Aqui", new_user_path, class: 'link'
      .boxes
        %h1#tops As mais vistas... 
        -@theories.each do |theory|
          .box
            %h1= link_to truncate(theory.title, length: 15, separator:' ').humanize , theory if theory
            .imageTheory
              -if theory.image
                %img.logo{src: "#{theory.image.to_s}"}
              -else
                %img{alt: "#{theory.title}", src: "/assets/no-image-found.jpg"}                
            .dataTheory
              %p#author= link_to "Por: #{theory.user.name}", "/users/#{theory.user.id}" if theory
              %h2= "O que é?" if theory
              %p#brief= theory.brief if theory
              %p#views
                %span
                  %img{src: "/assets/views.png"}
                  = theory.view if theory
                  
      .boxes
        %h1#tops As ultimas ideias... 
        -@lasts.each do |theory|
          .box
            %h1= link_to truncate(theory.title, length: 15, separator:' ').humanize , "theories/#{theory.id}" if theory
            .imageTheory
              -if theory.image
                %img.logo{src: "#{theory.image.to_s}"}
              -else
                %img{alt: "#{theory.title}", src: "/assets/no-image-found.jpg"}
            .dataTheory
              %p#author= link_to "Por: #{theory.user.name}", "/users/#{theory.user.id}" if theory
              %h2= "O que é?" if theory
              %p#brief= theory.brief if theory
              %p#views
                %span#date
                  %img{src: "/assets/calendar.png"}
                  = theory.created_at.strftime("%d/%m/%y") if theory
