= form_for(@user, :html =>{:multipart => true}) do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          #erros=msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :code
    = f.password_field :plain_code
  .actions
    = f.submit class: 'enter'

