= form_for(@user, :html =>{:multipart => true}) do |f|
  - if @user.errors.any?
    #error_explanation
      - @user.errors.full_messages.each do |msg|
        #erros= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :code
    = f.password_field :plain_code
  .field
    = f.label :phone
    = f.telephone_field :phone
  .field
    %p= "Data de nasc."
    = f.date_select :age, start_year: 100.years.ago.year, end_year: 10.years.ago.year
  .field
    = f.label :about
    = f.text_area :about
    = render 'shared/image_field', :f => f
  .actions
    = f.submit class: 'enter'
