.userNew
  .headerUser
    .image
      - if @user.image
        %img.Profile{src: "#{@user.image.to_s}"}
        =link_to "Atualizar cadastro", "/users/#{@user.id}/edit", class: "linkButton"
      - else
        %img.Profile{src: "/assets/no-image-found.jpg"}
        =link_to "Atualizar cadastro", "/users/#{@user.id}/edit", class: "linkButton"

    .basics
      %h1=@user.name
      %h2=@user.email
      %h2= @user.age.day.to_s + "/" + @user.age.month.to_s + "/" + @user.age.year.to_s if @user.age
  .about
    %h1 Quem sou eu?
    =raw @user.about
  -if @user.favorites.first
    .favorites
      %h1 Meus favoritos.
      .boxes
        -@user.favorites.each do |favorite|
          -if favorite.theory
            .box
              .image
                %img{src: "#{favorite.theory.image.to_s}"}
          -else
            .box#tip
              .image
                %img{src: "#{favorite.tip.image.to_s}"}
  -if @user.theories.first
    .favorites#owner
      %h1 Minhas ideias.
      .boxes
        -@user.theories.each do |theory|
          .box
            .image
              %img{src: "#{theory.image.to_s}"}
        -@user.tips.each do |tip|
          .box#tip
            .image
              %img{src: "#{tip.image.to_s}"}
  -if @user.adoptions.first
    .favorites#adoptions
      %h1 Ideias que adotei.
      .boxes
        -@user.adoptions.each do |adoption|
          .box
            .image
              =link_to "Diário", journal_adoption_path(adoption)
              %img{src: "#{adoption.theory.image.to_s}"}