.tableArea
  .data
    %h1 Lista de Usuários
    .adminPanel
      .buttons
        .button
          = link_to 'Novo Usuario', new_user_path
    %table.tables
      %thead
        %tr
          %th
          %th Id
          %th Nome
          %th E-mail
          %th Tested
          %th Phone
          %th Idade
          %th Sobre
          %th
          %th
      %tbody
        -@users.each do |user|
          %tr.user
            %td= user.id
            %td
              %img{width: "47", height: "50" ,src: "#{user.image.to_s}" }
            %td= link_to "#{user.name}", user
            %td= user.email
            %td= user.tested
            %td= user.phone
            %td= user.how_old? if user.age
            %td= truncate(user.about, lenght: 20)
            %td= link_to 'Editar', edit_user_path(user)
            %td= link_to 'Apagar', user, method: :delete, data: { confirm: 'Are you sure?' }