.tableArea
  .data
    %h1 Adoções
    .adminPanel
      .buttons
        .button
          = link_to 'Nova Adoção', new_adoption_path
    %table.tables
      %thead
        %tr
          %th ID T
          %th Ideia
          %th ID U
          %th Usuário
          %th
          %th
          %th
      %tbody
        - @adoptions.each do |adoption|
          %tr
            %td= adoption.theory_id
            %td= adoption.theory.title
            %td= adoption.user_id
            %td= adoption.user.name
            %td= link_to 'Mostrar', adoption
            %td= link_to 'Editar', edit_adoption_path(adoption)
            %td= link_to 'Apagar', adoption, :method => :delete, :data => { :confirm => 'Tem certeza?' }
