.tableArea
  .data#admin
    %h1 Adoção
    %p#notice= notice

    %p Theory:
    %h2= "#{@adoption.theory_id}, #{@adoption.theory.title}"

    %p User:
    %h2= "#{@adoption.user_id}, #{@adoption.user.name}"

    = link_to 'Editar', edit_adoption_path(@adoption)
    |
    = link_to 'Voltar', adoptions_path