.formContent
  .inputs
    = form_for(@theory, :html =>{:multipart => true}) do |f|
      =render 'theories/errors'
      -if params[:user]
        = hidden_field_tag :user_id, params[:user]
      .data
        .field
          %p#label= f.label :title
          = f.text_field :title, class: 'textinput', maxlength: 100
        .field
          %p#label= f.label :description
          = f.text_area :description, class: "redactor"
        .field
          %p#label= f.label :justification
          = f.text_area :justification, class: "redactor"
        .field
          %p#label= f.label :brief
          = f.text_area :brief, maxlength: 255, class: 'brief'
      .options
        .field
          %p#label= f.label :outlay
          = f.text_field :outlay, class: 'textinput'
        .choice
          %p Como as pessoas podem te ajudar?
          = f.select(:choice, options_for_select([['Desenvolvendo minha ideia', true], ['Me financiando.', false]]))
        .kind
          %p Todos podem adotar sua idea?
          = f.select(:kind, options_for_select([['Sim', true], ['Não', false]]))
        .categories
          %p#categoryTitle Selecione as categorias que sua ideia se encaixa.
          = f.collection_select :category_ids, Category.all, :id , :title, {multiple: true}, name: 'theory[category_ids][]'
          = f.collection_select :category_ids, Category.all, :id , :title, {multiple: true}, name: 'theory[category_ids][]'
          = f.collection_select :category_ids, Category.all, :id , :title, {multiple: true}, name: 'theory[category_ids][]'

        = render 'shared/image_field', f: f
        =f.submit class: 'enter'