%p#notice= notice
.masterBox{'data-id' => @theory.id}
  .headerBox
    %img.logoTheory{:src => "#{@theory.image.to_s}"}
    .titleBox
      .votes
        .up
          =link_to '+', "#", class: 'up'
          = @theory.votes.where(point: true).count
        .down
          =link_to '-', "#", class: 'down'
          = @theory.votes.where(point: false).count
      .favorite
        =link_to 'Favoritar', "#", class: 'favorite'
        = @theory.favorites.count
      .headerTitle
        = @theory.title
      .headerName
        Por:
        = @theory.user.name
      .headerBrief
        = @theory.brief
      .headerAdoption
        -if @theory.choice == true
          =link_to "Adote esta Ideia !", adopt_theory_path(@theory), class: "linkButton"
    .Content
      %p
        .ContentSub
          O que é?
          %br
        .ContentText
          = raw @theory.description
      %p
        .ContentSub
          E porque precisamos?
          %br
        .ContentText
          = raw @theory.justification
      %p
        .ContentSub
          Quanto isso vai custar?
        .ContentValue
          ="R$ " + @theory.outlay.to_s
      %p
        -if @theory.choice == true
          %h2 Ideia pública
        -else
          %h2 Idea privada.
      %p
        -if @theory.kind == true
          %h2 Esperando alguém desenvolver !
        -else
          %h2 Esperando alguém me financiar !
    .ContentAdoptions
      %p
        -if @theory.kind == true
          =render 'doar'
        %h2 Usuarios que adotaram:
      -if @theory.adoptions.first
        -@theory.adoptions.each do |adoption|
          =link_to "#{adoption.user.name}", "/users/#{adoption.user.id}", class: "nameTheory"
      -else
        %h2 Por enquanto ninguém adotou esta Ideia!
  -if @theory.user.id == session[:id] || session[:kind] == 2
    =link_to 'Atualizar dados', edit_theory_path(@theory), class: "linkButton"
    |
    = link_to 'Apagar', @theory, method: :delete, data: { confirm: 'Are you sure?' }, class: "linkButton"
  .fb-comments{"data-href" => "http://clubedeautores.com/theories/#{@theory.id}", "data-width" => "900", "num_posts" => "5"}
= content_for :javascript do
  :javascript
    new Votes()
    new Favorite()
