%p#notice= notice
.masterBox{'data-id' => @theory.id}
  .data
    .presentation
      .content#presentation
        .image
          .logoTheory
            %img{:src => "#{@theory.image.to_s}"}
          .votes
            .vote#up
              #count
                .point= @theory.votes.where(point: true).count
            .vote#down
              #count
                .point= @theory.votes.where(point: false).count
          .favorite
            = render 'theories/favorites'
          .donation
            -if @theory.kind
              =render 'doar'
        .brief
          %p#title= @theory.title
          %p#author
            Por:
            =link_to @theory.user.name, @theory.user
          %p#brief= @theory.brief
          %p#adopte=link_to "ADOTE ESTA IDEIA!", adopt_theory_path(@theory) if @theory.choice?
    .content
      %p
        %h2 O que é?
        = raw @theory.description
      %p
        %h2 E porque precisamos?
        = raw @theory.justification
      %p
        %h2 Quanto isso vai custar?
        %h1=number_to_currency(@theory.outlay, unit: "R$")
  -if @theory.adoptions.first
    .adoptions
      %p
        %h2 Usuarios que adotaram:
      .users
        -@theory.adoptions.each do |adoption|
          .user
            %a{href: "/users/#{adoption.user.id}"}
              -if adoption.user.image
                .image
                  %img#adopter{alt: "#{adoption.user.name}", src: "#{adoption.user.image.to_s}"}
              -else
                .image
                  %img#adopter{alt: "#{adoption.user.name}", src: "/assets/no-image-found.jpg"}
  -if @theory.user.id == session[:id] || session[:kind] == 2
    .adminPanel
      .buttons
        .button
          = link_to 'Atualizar dados', edit_theory_path(@theory)
        .button
          = link_to 'Apagar', @theory, method: :delete, data: { confirm: 'Are you sure?' }
  .socialPlugins
    .links
      .like=render 'theories/like'
      .google=render 'theories/googleplus'
      .reddit=render 'theories/reddit'
      .twitter=render 'theories/twitter'
      .facebook=render 'theories/facebook'

= content_for :javascript do
  :javascript
    new Votes()
    new Favorite()
