= form_for @journal, html: {:multipart => true} do |f|
  - if @journal.errors.any?
    #error_explanation
      %ul
        - @journal.errors.full_messages.each do |msg|
          #erros= msg
  .field
    =f.hidden_field :adoption_id
  .field

    = render 'shared/image_field', :f => f
  .field
    %h2 Descrição
    = f.text_area :description, class: 'redactor'
  .actions
    = f.submit 'Criar', class: 'enter'

