= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %ul
        - @category.errors.full_messages.each do |msg|
          #erros= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Salvar', class: 'enter'
