%center
  %h1 Categorias

  %table
    %tr
      %th Titulo
      %th
      %th
      %th

    - @categories.each do |category|
      %tr
        %td= link_to "#{category.title}", category
        %td= link_to 'Editar', edit_category_path(category)
        %td= link_to 'Apagar', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  %h3
    = link_to 'Nova Categoria', new_category_path
.clear