.tableArea
  .data#admin
    %h1 Categoria
    %p#notice= notice

    %p Título:
    %h2= @category.title
    %p Ideias:
    %h2= "#{@category.theories.count}, nesta categoria."


    = link_to 'Editar', edit_category_path(@category)
    |
    = link_to 'Voltar', adoptions_path