%p#notice= notice
#content
%h2=@category.title
-if @category.theories.count > 1
  .container
    %ul.thumb
      - @theories.each do |theory|
        %li
          %a{href: "/theories/#{theory.id}"}
            -if theory.image
              %img{alt: "#{theory.title}", src: "#{theory.image.to_s}"}
            -else
              %img{alt: "#{theory.title}", src: "/images/pensar.png"}
            -if session[:kind] == 2
              %li
                %td= link_to 'Ver', theory, class: "linkButton"
                %td= link_to 'Alterar', edit_theory_path(theory), class: "linkButton"
                %td= link_to 'Apagar', theory, method: :delete, data: { confirm: 'Are you sure?' }, class: "linkButton"
-else
  %h1 Não encontrei nenhuma idea nessa categoria;
.clear
