%p#notice= notice
#content
  %h1=@category.title
  -if session[:kind] == 2
    .adminPanel
      .buttons
        .button
          =link_to "+Idea!", new_theory_path
  %p Procure dentre os mais variados tipos de ideias!"
  .boxes
    -@theories.each do |theory|
      .box
        %h1= link_to truncate(theory.title, length: 15, separator:' ').humanize , theory if theory
        .imageTheory
          -if theory.image
            %img.logo{src: "#{theory.image.to_s}"}
          -else
            %img{alt: "#{theory.title}", src: "/assets/no-image-found.jpg"}
        .dataTheory
          %p#author= link_to "Por: #{truncate(theory.user.name, length: 20, separator:' ').titleize}", "/users/#{theory.user.id}" if theory
          %p#views
            %span
              %img{src: "/assets/category.png"}
              = link_to theory.categories.first.title, "/categories/#{theory.categories.first.id}/theories"