!!!
%html
  %head
    %title Idea - Onde sua idea cria asas.
    = stylesheet_link_tag "empty", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .logo
        %img#logo{src: "/assets/ideas.png"}
      %container#header
        %nav
          - if session[:kind] == 2
            = render "layouts/admin"
          - else
            -if session[:kind] == 1
              = render "layouts/user"
            -else
              = render "layouts/visitor"
      .search
        = text_field_tag :search
    .section#main
      = yield
