!!!
%html
  %head
    %title Idea - Onde sua idea cria asas.
    = stylesheet_link_tag "empty", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %container#header
        .logo
          = link_to image_tag( '/assets/ideas.png'), '/', id: 'logo'
        %nav
          - if session[:kind] == 2
            = render "layouts/admin"
          - else
            -if session[:kind] == 1
              = render "layouts/user"
            -else
              = render "layouts/visitor"
        -if session[:kind] == 1
          .search
            =render 'layouts/search'
    .section#main
      = yield
      = yield :javascript
