!!!
%html
  %head
    %title Idea - Onde sua idea cria asas.
    = stylesheet_link_tag "empty", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %nav
        - if session[:kind] == 2
          = render "layouts/admin"
        - else
          -if session[:kind] == 1
            = render "layouts/user"
          -else
            = render "layouts/visitor"
      .login
        - if session[:id]
          #{session[:name]}
          |
          =link_to "Sair", "/sair", class: "linkButton"
        - else
          =link_to "Login", "/entrar", class: "linkButton"
          |
          =link_to "Cadastre-se", "/users/new", class: "linkButton"
    .aboutHeader
      .video
        %iframe{:frameborder => "0",:src => "//player.vimeo.com/video/33091687", :webkitallowfullscreen => "", :width => "500"}
    .section#main
      = yield
